@mixin bg-image($url, $position: 0 0, $size: auto, $repeat: no-repeat) {
  background-image: url($url);
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin app-img($max-width, $transform) {
  max-width: $max-width;
  transform: $transform;
}

@mixin card-content($padding, $top, $right, $max-width) {
  padding: $padding;
  top: $top;
  right: $right;
  max-width: $max-width;
}
