@use 'sass:color';

// WEBSITE
$website-font: 'IBM Plex Sans', sans-serif;
$max-content-width: 1110px;
// COLORS
$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$very-light-gray: #fcfaf9;
$very-dark-gray: #191826;
$white: #fff;
$black: #000;
