@use "sass:map";
@use "./modules/reset";
@use "./modules/variables";
@use "./modules/maps";
@use "./partials/index.scss";

body {
  color: variables.$very-dark-gray;
  font-family: variables.$website-font;
  background-color: variables.$very-light-gray;
  font-weight: map.get(maps.$font-weights, "regular");
}

img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

a:visited,
a:link {
  color: variables.$very-dark-gray;
  font-weight: map.get(maps.$font-weights, "bold");
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: variables.$orange;
  }
}

a.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: map.get(maps.$margin, "small");
  color: variables.$very-dark-gray;
  font-weight: map.get(maps.$font-weights, "bold");
  font-size: 1.8rem;
  border-radius: map.get(maps.$button, "radius");
  text-align: center;
  padding: map.get(maps.$padding, "medium");
  transition-property: background, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &.btn--ios {
    color: variables.$very-light-gray;
    background-color: variables.$very-dark-gray;

    &:hover {
      background-color: variables.$cyan;
    }
  }

  &.btn--android {
    background-color: variables.$very-light-gray;

    &:hover {
      color: variables.$very-dark-gray;
      background-color: variables.$yellow;
    }
  }

  &:hover {
    color: variables.$very-light-gray;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*
// T A B L E T - S M D E S K T O P
// 620px
*/

@media only screen and (min-width: map.get(maps.$media-map, "tablet-sm-desktop")) {
}

/*
// S M A L L   D E S K T O P
// 768px
*/

@media only screen and (min-width: map.get(maps.$media-map, "small-desktop")) {
}

/*
// S M D E S K T O P - L G D E S K T O P
// 900px
*/

@media only screen and (min-width: map.get(maps.$media-map, "sm-lg-desktop")) {
}

/*
// L A R G E D E S K T O P
// 1024px
*/

@media only screen and (min-width: map.get(maps.$media-map, "large-desktop")) {
}

/*
// L D E S K T O P - M A X
// 1232px
*/

@media only screen and (min-width: map.get(maps.$media-map, "ld-max")) {
}
